@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

$m3-dark-theme: matx.define-theme(
  (
    color: (
      theme-type: dark,
      primary: matx.$m3-cyan-palette,
      tertiary: matx.$m3-blue-palette,
    ),
  )
);

$m3-light-theme: matx.define-theme(
  (
    color: (
      primary: matx.$m3-cyan-palette,
      tertiary: matx.$m3-blue-palette,
    ),
  )
);
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

html {
  @include mat.all-component-themes($m3-light-theme);

  --mat-sidenav-closed-width: 68px;
  --mat-sidenav-opened-width: 264px;
}

.dark-theme {
  @include mat.all-component-colors($m3-dark-theme);
}

body.dark-theme {
  background: #121212;
}
