@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

// @import '@angular/cdk/overlay-prebuilt.css';

$m3-dark-theme: matx.define-theme(
  (
    color: (
      theme-type: dark,
    ),
  )
);

$m3-light-theme: matx.define-theme();

@include mat.core();

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

html {
  @include mat.all-component-themes($m3-light-theme);

  --mat-sidenav-closed-width: 68px;
  --mat-sidenav-opened-width: 264px;
}

.dark-theme {
  @include mat.all-component-colors($m3-dark-theme);
}

body.dark-theme {
  background: var(--mat-app-background-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(227, 227, 227, 0.16);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(95, 99, 104);
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: rgba(31, 31, 31, 0.16);
  border-radius: 8px;
  border: 1px solid transparent;
  box-shadow: none;
  height: 185px;
  max-height: 33%;
}

::-webkit-scrollbar-thumb {
  background: rgb(218, 220, 224);
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 8px;
  box-shadow: none;
  min-height: 50px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: none;
  // margin-bottom: 34px;
  // margin-top: 34px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track:hover {
  background: none;
  border: none;
}

.side-sheets,
.dialog,
.dialog-full-screen {
  transition: transform 0.3s ease-in-out;
  background-color: var(--mat-sidenav-container-background-color);
  box-shadow: var(--mdc-dialog-container-elevation-shadow);
  color: var(--mat-sidenav-container-text-color);

  padding: 24px 12px 24px 16px;

  > * {
    overflow-y: auto;
  }
}

.side-sheets {
  width: 32rem;
  max-width: 100%;
  height: 100%;

  border-top-left-radius: var(--mat-sidenav-container-shape);
  border-bottom-left-radius: var(--mat-sidenav-container-shape);
}

.dialog {
  min-width: 280px;
  max-width: 560px;

  max-height: 90%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--mat-sidenav-container-shape);
}

.dialog-full-screen {
  min-width: 280px;
  max-width: min(1000%, 560px);
  border-radius: var(--mat-sidenav-container-shape);
}

@media (max-width: 560px) {
  .dialog-full-screen {
    border-radius: 0;
  }
}

mat-card {
  margin-bottom: 16px;
}

mat-card-footer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;

  padding: 8px 16px;
}

mat-card-header {
  margin-bottom: 16px;
}

textarea {
  resize: vertical;
  max-height: 400px;
  min-height: 100px;
}
